<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JSON file data</title>
    <link rel="stylesheet" href="../css/skeleton.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
        {{>header}}
        {{!-- Reading JSON data --}}
        <h1>List of all currencies</h1>
        <table>
            {{#each currencies}}
                <tr>
                    <th> {{@key}} <th>
                    <td> {{this.name}} </td>
                </tr>
            {{/each}}
        </table>
        {{>footer}}
</body>
</html>