<div>
    <a class="button" href="/">Home Page</a>
    <a class="button" href="/about">About</a>
    <a class="button" href="/help">Help</a>
    <a class="button button-primary" href="/objdata">Object Data</a>
    <a class="button button-primary" href="/jsonfile">JSON File</a>
    <a class="button button-primary" href="/apidata">API Data</a>
</div>
<hr>