form{ 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    width: 50%; 
    margin: 0 auto; 
    border: 1px dotted silver; 
    padding: 30px; 
    margin-top: 30px;
}
*{ font-size: 16px; }
h1{ border-bottom: 1px solid silver; padding-bottom: 20px; font-size: 42px; }
input[type="text"] { width: 70%; padding: 10px}
input[type="submit"] { width: 25%; padding: 10px; background-color: #222; color: white}
ul{ width: 100%; padding-left: 0}
li{ width: 100%; padding: 10px 0px; margin-bottom: 5px; position: relative; list-style-type: none; border-bottom: 1px dotted silver; font-style: italic;}
span{ position: absolute; right: 0px; bottom: 0px; padding: 8px 15px; background-color: red; color: white; cursor: pointer; font-style: regular; font-size: 20px;}
