<html>
    <head>
        <title>Simple Login Page</title>
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
        <link rel="stylesheet" href="../public/css/style.css">
    </head>
    <body>
        <main class="container">
            <a href="/" role="button" class="secondary">List of Profiles</a>
            <a href="/submit" role="button" class="secondary">Create Profile</a>
            <hr>
            <h1> Login Page </h1>
            <% if(message){ %>
                <div class="success"> 
                    <p> <%= message %> </p>
                </div>
            <% } %>
            <% if(warn){ %>
                <div class="error"> 
                    <p> <%= warn %> </p>
                </div>
            <% } %>
            <% if(valid){ %>
                <div class="error"> 
                    <% valid.forEach( (elm) => { %>
                        <p> <%= elm.msg %> </p>
                    <% }) %>
                </div>
            <% } %>
            <form action="/login" method="POST">
                <fieldset>
                    <label for="username">Username</label>
                    <input type="text" name="username" >
                    <br>
                    <label for="password">Password</label>
                    <input type="password" name="password" >
                    <br><br>
                    <input type="submit" value="LOGIN" class="secondary outline">
                </fieldset>
            </form>
        </main>
    </body>
</html>